body {
  font-family: sans-serif;
  color: #000;
  background: #daecff;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.demo-container {
  width:100%;
  border: 0;
  background: #daecff;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin: 0 0 25px;
  font-weight: normal;
}

@media (max-width: 900px) {
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 18px;
  }
}
